.like-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.like-icon path {
    fill: hsl(0, 0%, 50%);
    transition: fill 0.3s ease, filter 0.3s ease;
}

.like-icon:hover path {
    filter: drop-shadow(0 0 40px #e31af9);
}


.like-icon.liked path {
    fill: #e31af9;
}

/* responsivness */
#sidebarMenu {
    transition: height 0.3s ease;
}

/* Left menu hover effects */
.nav-link:hover {
    color: #1cc2da !important;
}

.nav-link:hover img {
    filter: brightness(1.2) drop-shadow(0 0 4px #1cc2da);
    transition: filter 0.2s ease;
}

.nav-link img {
    transition: filter 0.2s ease;
}